{% extends "web/_base.html" %}

{% block title %}Log in{% endblock %}
{% block content %}
    <h1>Login</h1>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form method="post" action="{% url "accounts:login" %}">
        {% csrf_token %}
        <table class="table table-sm">
            <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <p>
            <input class="btn btn-primary btn-sm" type="submit" value="Login">
        </p>
    </form>
{% endblock %}